@{ ViewBag.Title = Resources.Requests; }

<section class="content" id="app">
    <div class="box" id="vue-app">
        <div class="box-body">
            <div>
                <table id="table" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@Resources.Teacher</th>
                            <th>@Resources.Student</th>
                            <th>@Resources.CreatedOn</th>
                            <th>@Resources.StartYear</th>
                            <th>@Resources.Status</th>
                            <th>@Resources.EndYear</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                "order": [[2, 'desc']],
                "language": dt.language,
                "ajax": {
                    "method": "POST",
                    "url": "@Url.HttpRouteUrl(RouteName.DataTablesTeacherRequests, new { })"
                },
                "processing": true,
                "serverSide": true,
                "columns": [
                    {
                        "data": "Teacher.LastName",
                        render: function (data, type, row, meta) { return row.Teacher.FullName; }
                    },
                    {
                        "data": "Student.LastName",
                        render: function (data, type, row, meta) { return row.Student.FullName; }
                    },
                    {
                        "data": "CreatedOn",
                        render: function (data, type, row, meta) { return moment(row.CreatedOn).format('DD/MM/YYYY'); }
                    },
                    {
                        "data": "Start.Start",
                        render: function (data, type, row, meta) { return row.Start.Name; }
                    },
                    {
                        "data": "End.Start",
                        render: function (data, type, row, meta) { return row.End.Name; }
                    },
                    {
                        data: "StatusRepresentation",
                        render: function (data, type, entity, meta) { return getStatusBadge(data, entity.Status); },
                        sortable: false
                    },
                    {
                        sortable: false,
                     render: function (data, type, row, meta) { return '<a class="btn btn-info" href="' +'@Url.Action("Respond", "Request")' + "/" + row.Id + '">'+'@Resources.Edit'+'</a>';  }
                    }
                ]
            });
        });
    </script>
}

