<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? "DU" : ViewBag.Title)</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/assets/dist/css/bundle.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue-light sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Request")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>DU</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Daugavpils</b>University</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning" id="notification-count"></span>
                            </a>
                            <ul class="dropdown-menu dropdrown-border" id="request-notifications">
                                @{
                                    if (!User.IsInRole(DU.Themes.Infrastructure.Roles.Teacher))
                                    {
                                        <text>
                                            <li class="header">@Resources.NoNewNotifications</li>
                                        </text>
                                    }

                                }

                                @{
                                    if (User.IsInRole(DU.Themes.Infrastructure.Roles.Teacher))
                                    {
                                        <text>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-spinner fa-pulse fa-fw"></i> @Resources.Loading
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </text>
                                    }

                                }

                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <text>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="hidden-xs">@User.Identity.Name</span>
                                        </a>
                                        <ul class="dropdown-menu dropdrown-border" style="width: auto">
                                            <!-- Menu Footer-->
                                            <li class="user-footer">
                                                @*<form method="post" resource="">

                                                    </form>*@
                                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <button type="submit" style="width: 100%" class="btn btn-default btn-flat"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</button>
                                                }
                                            </li>
                                        </ul>

                                    </text>
                                }
                                else
                                {
                                    <a href="@Url.Action("Login", "Account")" @*class="btn btn-default btn-flat"*@>Log In</a>
                                }
                            }

                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    @if (User.IsInRole(DU.Themes.Infrastructure.Roles.Teacher))
                    {
                        <li><a href="@Url.Action("TeacherRequests", "Request")"><i class="fa fa-circle-o text-aqua"></i> <span>Requests (Lecturers)</span></a></li>
                        <li><a href="@Url.Action("Teacher", "Themes")"><i class="fa fa-circle-o text-aqua"></i> <span>Themes (Lecturers)</span></a></li>
                    }
                    @if (User.IsInRole(DU.Themes.Infrastructure.Roles.Student))
                    {
                        <li><a href="@Url.Action("Index", "Request")"><i class="fa fa-circle-o text-aqua"></i> <span>Request (Students)</span></a></li>
                        <li><a href="@Url.Action("Student", "Themes")"><i class="fa fa-circle-o text-aqua"></i> <span>Themes (Students)</span></a></li>
                    }
                    @if (User.IsInRole(DU.Themes.Infrastructure.Roles.SystemAdministrator))
                    {
                        <li><a href="@Url.Action("Import", "Maintenance")"><i class="fa fa-circle-o text-aqua"></i> <span>Import</span></a></li>
                        <li><a href="@Url.Action("Persons", "Maintenance")"><i class="fa fa-circle-o text-aqua"></i> <span>Users</span></a></li>
                        <li><a href="@Url.Action("StudyYearsList", "Maintenance")"><i class="fa fa-circle-o text-aqua"></i> <span>Macibu gadi</span></a></li>
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderBody()
            <div class='clearfix'></div>
        </div>
        <!-- /.content-wrapper -->
    </div>
    @Html.Partial("_Components")

    <script src="~/assets/dist/js/bundle.js"></script>
    
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        //$(document).ready(function () {
        //    var resizeDataTables = function () {
        //        console.log('resize');
        //        var table = $('#table').DataTable();
        //        if (table) {
        //            console.log(table);
        //            table.draw();
        //            table.columns.adjust().draw();
        //        }
        //    };
        //    window.onresize = resizeDataTables;
        //});

    </script>
    @if (User.IsInRole(DU.Themes.Infrastructure.Roles.Teacher))
    {
        <script type="text/javascript">

            Handlebars.registerHelper('notification-widget', function (data, options) {
                out = "";
                console.log('data in widget', data);

                if (data.count > 0) {
                    if (data.count == 1) {
                        out += '<li class="header">@Resources.Handlebar_One_NewNotification</li>';
                    } else {
                        out += '<li class="header">' + Handlebars.compile("@Resources.Handlebar_N_NewNotifications")(data) + '</li>';
                    }

                    out += '<li><ul class="menu">';
                    var template = Handlebars.compile('<li><a href="@Url.Action("Respond", "Request", new { id = UrlParameter.Optional })/{{Id}}"><i class="fa fa-users text-aqua"></i>{{Student.FullName}}</a></li>');
                    for (var i = 0, l = data.items.length; i < l; i++) {
                        out += template(data.items[i]);
                    }
                    out += "</ul>";
                    out += "</li>"
                } else {
                    out += '<li class="header">@Resources.NoNewNotifications</li>';
                }

                return out;
            });

            $.ajax({
                url: "@Url.HttpRouteUrl(RouteName.NewRequestCount, new { })",
                method: "GET",
                contentType: "application/json; charset=utf-8"
            }).done(function (data) {
                console.log(data);
                var template = Handlebars.compile(" {{#notification-widget data}}{{Student.FullName}}{{/notification-widget}}");
                var ouput = template({ data: data });

                $('#request-notifications').html(ouput);
                $('#notification-count').text(data.count);
            });
        </script>
    }
</body>
</html>
