@{
    var labelColumnClass = "col-sm-3 col-sm-12 col-xs-12";
    var inputColumnClass = "col-sm-9";
}
<section class="content" id="vue-app">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 v-text="entity.FullName"></h3>
            </div>
            <div class="box-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputName" class="@labelColumnClass control-label">@Resources.FirstName</label>
                        <div class="@inputColumnClass">
                            <input type="text" class="form-control" id="inputName" placeholder="@Resources.FirstName" v-model="entity.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="@labelColumnClass control-label">@Resources.LastName</label>
                        <div class="@inputColumnClass">
                            <input type="text" class="form-control" id="inputName" placeholder="@Resources.LastName" v-model="entity.LastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="@labelColumnClass control-label">@Resources.Email</label>
                        <div class="@inputColumnClass">
                            <input type="email" class="form-control" id="inputEmail" placeholder="@Resources.Email" v-model="entity.Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="@labelColumnClass control-label">@Resources.StudentIdentifier</label>
                        <div class="@inputColumnClass">
                            <input type="text" class="form-control" id="inputEmail" placeholder="@Resources.StudentIdentifier" v-model="entity.StudentIdentifier">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="@labelColumnClass control-label">@Resources.ProgramName</label>
                        <div class="@inputColumnClass">
                            <input type="text" class="form-control" id="inputEmail" placeholder="@Resources.ProgramName" v-model="entity.ProgramName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="@labelColumnClass control-label">@Resources.ProgramLevel</label>
                        <div class="@inputColumnClass">
                            <input type="text" class="form-control" id="inputEmail" placeholder="@Resources.ProgramLevel" v-model="entity.ProgramLevel">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="@labelColumnClass control-label">@Resources.StudyForm</label>
                        <div class="@inputColumnClass">
                            <input type="text" class="form-control" id="inputEmail" placeholder="@Resources.StudyForm" v-model="entity.StudyForm">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="@labelColumnClass control-label">@Resources.StudyYear</label>
                        <div class="@inputColumnClass">
                            <input type="text" class="form-control" id="inputEmail" placeholder="@Resources.StudyYear" v-model="entity.Year">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="@labelColumnClass control-label">@Resources.IsAdmin</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model="entity.IsAdmin">
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="@labelColumnClass control-label">@Resources.Teacher</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model="entity.IsTeacher">
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="@labelColumnClass control-label">@Resources.Student</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model="entity.IsStudent">
                            </label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="box-footer">
                <div class="pull-left">
                    <a href="@Url.Action("Persons", "Maintenance")" class="btn btn-default"><i class="@Icons.List" aria-hidden="true"></i>@Resources.ToList</a>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-info" v-on:click="submit">@Resources.Save</button>
                </div>
            </div>
        </div>
    </div>


</section>

@section scripts{
    <script type="text/javascript">

        function loadRecord(callback) {
            $.ajax({
                url: "@Url.HttpRouteUrl("DefaultApi", new { Controller = "Person", Action = "Person", userId = ViewBag.UserId })",
                method: "GET",
                contentType: "application/json; UTF8",
            }).done(function (data) {
                console.log('data', data);
                callback(null, data);
            }).error(function (xhr, param1, param2, param3) {
                toastr.error(param2);
                console.log(xhr, param1, param2, param3);
            }).always(function () {

            });
        }

        async.parallel([loadRecord], function (err, result) {
            console.log('result', result);
            var app = new Vue({
                el: '#vue-app',
                data: function () {
                    return {
                        entity: result[0]
                    }
                },
                methods: {
                    submit: function () {
                        var self = this;

                        $.ajax({
                            url: "@Url.HttpRouteUrl("DefaultApi", new { Controller = "Person", Action = "Update" })",
                            method: "POST",
                            data: JSON.stringify(self.entity),
                            contentType: "application/json; charset=utf-8"
                        }).done(function (data) {
                                self.refresh();
                            }).error(handleError)
                            .always(function () {

                        });
                    },

                    refresh: function () {

                        var self = this;

                        $.ajax({
                            url: "@Url.HttpRouteUrl("DefaultApi", new { Controller = "Person", Action = "Person", userId = ViewBag.UserId })",
                            method: "GET",
                            contentType: "application/json; UTF8",
                        }).done(function (data) {
                            self.entity = data;
                            toastr.success("Saglabāts");
                        }).error(function (xhr, param1, param2, param3) {
                            toastr.error(param2);
                            console.log(xhr, param1, param2, param3);
                        }).always(function () {

                        });
                    }
                }
            });
        });
    </script>
}
