<section class="content" id="app">
    <div class="box" id="vue-app">
        <div class="box-header with-border">
            <div>
                <h3>Lietotāji</h3>
            </div>
        </div>
        <div class="box-body">
            <div>
                <table id="table" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@Resources.StudentIdentifier</th>
                            <th>@Resources.FirstName</th>
                            <th>@Resources.LastName</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                "autoWidth": false,
                "language": dt.language,
                "autoWidth": false,
                "ajax": {
                    "method": "POST",
                    "url": "@Url.HttpRouteUrl("GetPersons", new { })"
                },
                "processing": true,
                "serverSide": true,
                "columns": [
                    { "data": "StudentIdentifier", name: "Identifier" },
                    { "data": "FirstName" },
                    { "data": "LastName" },
                    {
                        "sortable": false,
                        render: function (data, type, row, meta) { return '<a href=' + "@Url.Action("Edit", "Maintenance")" + "/" + row.StudentIdentifier + ' class="btn btn-info">' + '@Resources.Edit' + '</a>'; }
                    }
                ]
            });
        });
    </script>
}

