@model IEnumerable<DU.Themes.Models.PersonModel>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box" id="vue-app">
                <div class="box-header with-border">
                </div>
                <div class="box-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>StudentIdentifier</th>
                                <th>ProgramName</th>
                                <th>ProgramLevel</th>
                                <th>StudyForm</th>
                                <th>Email</th>
                                <th>UserName</th>
                                <th>FullName</th>
                                <th>Is Imported</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var person in Model)
                            {
                                <tr   @if (!person.SuccessfulyImported) { <text>class="bg-red" </text> }>
                                    <td>@person.FirstName</td>
                                    <td>@person.LastName</td>
                                    <td>@person.StudentIdentifier</td>
                                    <td>@person.ProgramName</td>
                                    <td>@person.ProgramLevel</td>
                                    <td>@person.StudyForm</td>
                                    <td>@person.Email</td>
                                    <td>@person.UserName</td>
                                    <td>@person.FullName</td>
                                    @if (person.SuccessfulyImported)
                                    {
                                        <td><i class="text-green glyphicon glyphicon glyphicon-ok">&nbsp;</i></td>
                                    }
                                    else
                                    {
                                        <td><i class="glyphicon glyphicon glyphicon-remove">&nbsp;</i></td>
                                    }
                                    
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>

